@page
@model ITMatching.Areas.Identity.Pages.Account.TempRegisterModel
@{
}

<center><h1>Get Started with IT Assistance</h1></center>
<br />

<h4>Are you ...?</h4>
<br />
<div class="row">
    <div class="centerBtn butt col-md-6">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Client</a>
    </div>
    <div class="centerBtn butt col-md-6">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Expert</a>
    </div>
</div>