@page
@model ITMatching.Areas.Identity.Pages.Account.TempRegisterModel
@{
}

<center><h1>Get Started Today with Our IT-Assistance Service</h1></center>
<br />

<h4>What Would You Like to Register As?</h4>
<br />
<div class="row">
    <div class="centerBtn butt col-md-6">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Client</a>
    </div>
    <div class="centerBtn butt col-md-6">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/ExpertRegister">Expert</a>
    </div>
</div>