/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: #202427;
}

h1, h2, h3, h4, h5, p{
    color: #EEEEEE;
}

a {
    color: #EEEEEE;
}

td {
    color: #EEEEEE;
}

.Logo {
    color: #EEEEEE;
}

.thead-custom {
    background-color: whitesmoke;
    color: #222222;
}

.thead-account {
    background-color: #1a344c;
    color: #EEEEEE;
}

label { 
    color: #EEEEEE;
}

.dark-label {
    color: #222222;
}

.navbar-color {
    background-color: #1a344c;
    color: whitesmoke;
}

.faq-header {
    background-color: #1a344c;
}

.faq-body {
    background-color: #385c7c;
    color: #EEEEEE;
}

#service-Card {
    margin-top: 20px;
    background-color: #1a344c;
}

#toggleButton {
    background-color: #d8831b;
    color: whitesmoke;
    margin-right: 20px;
    border: 2px solid;
    border-color: whitesmoke;
}

.border-custom {
    border-color: #000;
    color: #000;
}

.Tempbtn {
    text-color: #222222;
}

footer {
    background-color: #444444;
}