/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

body {
    background-color: #EEEEEE;
}

.bg-custom {
    background-color: #EEEEEE;
    color: #222222;
}

.bg-head {
    background-color: #f8f9fa;
}

.bg-head.form-control:focus {
    background-color: #f8f9fa;
    color: #222222;
}

    .bg-head.form-control::placeholder {
        font-size: 0.9rem;
        color: #222222;
    }

h1, h2, h3, h4, h5, p {
    color: #222222;
}

a {
    color: #222222;
}

label {
    color: #222222;
}

.navbar-color {
    background-color: #1a344c;
    color: whitesmoke;
}

.faq-header {
    background-color: #1a344c;
}

.faq-body {
    background-color: #DDDDDD;
    color: #222222;
}

.Logo {
    color: #385c7c;
}

.thead-custom {
    background-color: #1a344c;
    color: #EEEEEE
}

#service-Card {
    margin-top: 20px;
    background-color: #DDDDDD;
}

#toggleButton {
    background-color: #353590;
    color: aliceblue;
    margin-right: 20px;
    border: 2px solid;
    border-color: whitesmoke;
}
