/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: #EEEEEE;
}

.navbar-color {
    background-color: #1a344c;
    color: whitesmoke;
} 

#toggleButton{
    background-color: darkblue;
    color: aliceblue;
    margin-right: 20px;
}