/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

h1.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-family: GENUINE;
  font-size: 48px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #5089b8;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #5089b8;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}*/

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Default Settings End Here
-------------------------------------------------- */
.navbar {
    margin-bottom: 0px;
    padding: 0px;
}

.container {
    width: 100%;
}

.jumbotron {
    min-height: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#AccountJumbotron {
    background-color: #243b45;
    background-image: url('../Images/Servers.jpg');
    background-size: cover;
    background-position: center center;
}

#HomeJumbotron {
    background-color: #243b45;
    background-image: url('../Images/WomanComputer.png');
    background-size: cover;
    background-position: center center;
}

#HomeJumbotron .container {
    margin-top: 5%;

}

#ListJumbotron {
    background-color: #243b45;
    background-image: url('../Images/hardware_orange.png');
    background-size: cover;
    background-position: center center;
}

#OrangeButton {
    background-color: #d8831b;   
    border: 0px;
}

#OrangeButton:hover {
     background-color: #c57000;
     color: #fff;
     border: 0px;
}

#HomeCard {
    background-color: #5089b8;
    background-image: url('../Images/code.png');
    background-size: cover;
    background-position: center center;
}

#service-Card{
    margin-top: 20px;
}

#HalLogo {
    height: 30px;
    width: 90px;
}

#OrangeText {
    color: #d8831b;
}

.nav-item:hover {
    background-color: #d8831b;
    color: rgba(0, 0, 0, .05)
}

h1 {
    font-size: 48px;
}

header {
    margin-bottom: 0px;
    padding: 0px;
}

.text-shadow {
    color: #FFF;
    text-shadow: 2px 2px #000;
}

.nav-item {
    font-size: 18px;
    font-family: 'Segoe UI';
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 26px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.large-Margin{
    margin-bottom: 50px;
    margin-top: 50px;
}

p {
    font-family: 'Segoe UI';
    font-size: 16px;
}

.nav-tabs{
    border: 0px;
}

#logout {
    font-size: 18px;
}

#hardwareTab {
    background-image: url('../Images/hardwarebackground.png');
    background-size: cover;
}

#softwareTab {
    background-image: url('../Images/softwarebackground.png');
    background-size: cover;
}

#networkTab {
    background-image: url('../Images/networkbackground.png');
    background-size: cover;
    background-position: center bottom;
}

#osTab {
    background-image: url('../Images/osbackground.png');
    background-size: cover;
    background-position: center center;
}

#methodTab {
    background-image: url('../Images/meetingbackground.png');
    background-size: cover;
    background-position: center center;
}
