/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

h1.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: GENUINE;
    font-size: 48px;
}

a {
    color: #FFF;
}

.btn-primary {
    color: #fff;
    background-color: #5089b8;
    border-color: #1861ac;
}


.nav-item {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: auto;
    font-size: 48px;
}

.nav-item:hover {
    background-color: #d8831b;
    color: #FFF;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: auto;
    height: 100px;
    font-size: 18px;
}

.nav-link:hover{
    color:white;
}

.nav-link:active{
    color:white;
}

.service-nav {
    height: 50px;
    margin: 0px;
    padding: 0px;
}

.service-link {
    height: 50px;
    margin: 0px;
    padding: 0px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white;
    background-color: #5089b8;
    border-color: #1861ac;
}

.themeToggle {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: auto;
    font-size: 48px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}*/

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Default Settings End Here
-------------------------------------------------- */
.navbar {
    margin-bottom: 0px;
    padding: 0px;
}

.container {
    width: 100%;
}

.jumbotron {
    min-height: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#AccountJumbotron {
    background-color: #243b45;
    background-image: url('../Images/Servers.jpg');
    background-size: cover;
    background-position: center center;
}

#HomeJumbotron {
    background-color: #243b45;
    background-image: url('../Images/WomanComputer.png');
    background-size: cover;
    background-position: center center;
}

    #HomeJumbotron .container {
        margin-top: 5%;
    }

#ListJumbotron {
    background-color: #243b45;
    background-image: url('../Images/hardware_orange.png');
    background-size: cover;
    background-position: center center;
}

#OrangeButton {
    background-color: #d8831b;
    border: 0px;
}

    #OrangeButton:hover {
        background-color: #c57000;
        color: #fff;
        border: 0px;
    }

#HomeCard {
    background-color: #5089b8;
    background-image: url('../Images/code.png');
    background-size: cover;
    background-position: center center;
}

#HalLogo {
    height: 30px;
    width: 90px;
}

#OrangeText {
    color: #d8831b;
}

h1 {
    font-size: 48px;
}

header {
    margin-bottom: 0px;
    padding: 0px;
}

.text-shadow {
    color: #FFF;
    text-shadow: 2px 2px #000;
}

.nav-item {
    font-size: 18px;
    font-family: 'Segoe UI';
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 26px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.large-Margin {
    margin-bottom: 50px;
    margin-top: 50px;
}

p {
    font-family: 'Segoe UI';
    font-size: 16px;
}

.nav-tabs {
    border: 0px;
}

#logout {
    font-size: 18px;
}

#hardwareTab {
    background-image: url('../Images/hardwarebackground.png');
    background-size: cover;
}

#softwareTab {
    background-image: url('../Images/softwarebackground.png');
    background-size: cover;
}

#networkTab {
    background-image: url('../Images/networkbackground.png');
    background-size: cover;
    background-position: center bottom;
}

#osTab {
    background-image: url('../Images/osbackground.png');
    background-size: cover;
    background-position: center center;
}

#methodTab {
    background-image: url('../Images/meetingbackground.png');
    background-size: cover;
    background-position: center center;
}

.formTags {
    column-count: 3;
    column-gap: 2rem;
    list-style: none;
}

.formHardwareTags {
    column-count: 4;
    column-gap: 2rem;
    list-style: none;
}

.formTagsCommunication {
    column-count: 4;
    column-gap: 2rem;
    list-style: none;
}

.requestFormCardHeader {
    background-color: #1a344c;
}

.editFormCardHeader {
    background-color: #5089b8;
}

/*Styling Registration form*/
.centered-form {
    margin-top: 60px;
    position: center;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

label.label-floatlabel {
    font-weight: bold;
    color: #46b8da;
    font-size: 11px;
}

/*Styling Temp Register*/

.Tempbtn {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #343a40;
    color: white;
    font-size: 16px;
    font-family: Verdana;
    padding: 15px 30px 15px 30px;
    border: solid;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    width: 200px;
    height: 75px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 8px 16px 0 #343a40, 0 6px 20px 0 #c57000;
}

    .Tempbtn:hover {
        background-color: #c57000;
        color: white;
        transition: all .5s ease-in-out;
        font-size: x-large;
    }

.bg-overlay {
    height: 550px;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url('https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09') center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.congrats-overlay {
    height: 550px;
    color: white;
    background: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80') center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.SubmitBtn {
    background-color: #1b6ec2;
    color: white;
}

    .SubmitBtn:hover {
        background-color: #c57000;
        color: white;
    }

.SchedularTable {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
}

.button-toggler {
    height: 100%;
    color: #9E9E9E;
    background-color: #585858;
    box-shadow: 0 0 1px 1px rgb(10,10,10);
    border: 5px solid #444444;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    width: 250px;
    padding: 10px 45px 10px 15px;
    transition: color .3s ease;
}

    .button-toggler:hover {
        color: #b2b2b2;
    }

    .button-toggler:active {
        box-shadow: 0 0 1px 1px rgb(10,10,10), inset 0 2px 2px 0px black;
    }

    .button-toggler:before {
        position: absolute;
        content: '';
        right: 15px;
        top: 15px;
        width: 15px;
        height: 15px;
        background: #FF4F4F;
        background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
        border-radius: 50%;
        box-shadow: 0 0 4px #1C1C17, 0 0 5px #FF4242;
        transition: all .3s ease;
    }

    .button-toggler:hover:before {
        background: #4FFF4F;
        box-shadow: 0 0 4px #1C1C17, 0 0 5px #42FF42;
    }

    .button-toggler:active:before {
        background: #4FFF4F;
        box-shadow: 0 0 4px #1C1C17, inset 0 2px 2px 0px #00CC00;
    }

    .button-toggler.active:hover:before {
        background: #FF4F4F;
        box-shadow: 0 0 4px #1C1C17, 0 0 5px #FF4242;
    }

    .button-toggler.active:active:before {
        background: #FF4F4F;
        box-shadow: 0 0 4px #1C1C17, inset 0 2px 2px 0px #CC0000;
    }

    .button-toggler.active:before {
        background: #4FFF4F;
        box-shadow: 0 0 4px #1C1C17, inset 0 2px 2px 0px #00CC00;
    }

.req-head-bg {
    background-color: #1a344c;
}

.req-head-text {
    color: white;
}

.req-body-bg {
    background-color: #585858;
}

    .req-body-bg .badge {
        font-size: 1.15rem;
        background-color: #ff9807;
        border-radius: 0;
    }

    .req-body-bg button.btn {
        font-size: 1.25rem;
        border-radius: 1.75rem;
        color: #222222;
    }

.p-3px {
    padding: 3px;
}

.feedbackButton {
    height: 300px;
    width: 300px;
    box-shadow: 0 0 14px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.feedbackPicture {
    height: 250px;
    width: 250px;
}

.vertical-center {
    min-height: 60vh; 

    display: flex;
    align-items: center;
}

.feedbackCol button {
    transition: all .2s ease-in-out;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.feedbackCol button:hover {
    transition: all .2s ease-in-out;
    border:5px solid #c57000;
    transform: scale(1.1);
}

.clientWaitingRoomCard {
    width: 160px;
    background-color: #585858;
}

.clientWaitingRoomCardOrange {
    background-color: #d8831b;
}

.clientWaitingRoomCardCol {
    vertical-align: middle;
    top: 30%;
}

.infoColWrapper {
    flex: 1;
}

.infoCol {
    display: flex;
    flex-direction: row;
}

.loader {
    border: 32px solid #585858;
    border-bottom: 32px solid #d8831b;
    border-radius: 80%;
    width: 150px;
    height: 150px;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.cssload-loader {
    position: relative;
    left: calc(50% - 48px);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    perspective: 1200px;
}

.cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

    .cssload-inner.cssload-one {
        left: 0%;
        top: 0%;
        animation: cssload-rotate-one 1.15s linear infinite;
        -o-animation: cssload-rotate-one 1.15s linear infinite;
        -ms-animation: cssload-rotate-one 1.15s linear infinite;
        -webkit-animation: cssload-rotate-one 1.15s linear infinite;
        -moz-animation: cssload-rotate-one 1.15s linear infinite;
        border-bottom: 5px solid rgba(9,61,117,0.99);
    }

    .cssload-inner.cssload-two {
        right: 0%;
        top: 0%;
        animation: cssload-rotate-two 1.15s linear infinite;
        -o-animation: cssload-rotate-two 1.15s linear infinite;
        -ms-animation: cssload-rotate-two 1.15s linear infinite;
        -webkit-animation: cssload-rotate-two 1.15s linear infinite;
        -moz-animation: cssload-rotate-two 1.15s linear infinite;
        border-right: 5px solid rgb(80,137,184);
    }

    .cssload-inner.cssload-three {
        right: 0%;
        bottom: 0%;
        animation: cssload-rotate-three 1.15s linear infinite;
        -o-animation: cssload-rotate-three 1.15s linear infinite;
        -ms-animation: cssload-rotate-three 1.15s linear infinite;
        -webkit-animation: cssload-rotate-three 1.15s linear infinite;
        -moz-animation: cssload-rotate-three 1.15s linear infinite;
        border-top: 5px solid rgba(216,131,27,0.94);
    }







@keyframes cssload-rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-one {
    0% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-one {
    0% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-one {
    0% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-two {
    0% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-two {
    0% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-two {
    0% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-three {
    0% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-three {
    0% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-three {
    0% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}