@model Dictionary<string, List<int>>
@{ 
    ViewData["Title"] = "Scheduler";
}
@using ITMatching.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ITMatchingAppContext AppContext

@if (SignInManager.IsSignedIn(User))
{
    string id = UserManager.GetUserId(User);
    Itmuser itUser = AppContext.Itmusers.Where(u => u.AspNetUserId == id).FirstOrDefault();
    Expert eUser = AppContext.Experts.Where(eu => eu.ItmuserId == itUser.Id).FirstOrDefault();
    WorkSchedule workHr = AppContext.WorkSchedules.Where(work => work.ExpertId == eUser.Id).FirstOrDefault();
    var ExpertID = eUser.Id;

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-12">
            <center>
                <div class="panel panel-default">
                    <table class="SchedularTable" border="1">
                        <tr>
                            <th style="background-color:#c57000">Time</th>
                            <th colspan="12" style="background-color: #343a40;">AM</th>
                            <th colspan="12" style="background-color: #343a40;">PM</th>
                        </tr>
                        <tr>
                            <th style="background-color:#c57000">Day</th>
                            @for (int i = 0; i < 24; i++)
                            {
            <td width="25px" style="background-color:#c57000"> @i  </td>}
                        </tr>
                        <tr>
                            <th style="background-color: #343a40;">Monday</th>
                            @for (int i = 0; i < 24; i++)
                            {
                                if (ViewBag.SchedularData != null && ViewBag.SchedularData["Monday"].Contains(i))
                                {
            <td width="25px" style="background:rgb(22, 132, 231)" id="Mon_@i" onclick="selectTd('Mon_@i')">  </td> }
                                else
                                {
            <td width="25px" id="Mon_@i" onclick="selectTd('Mon_@i')">  </td>}

                            }
                        </tr>
                        <tr>
                            <th style="background-color: #343a40;">Tuesday</th>
                            @for (int i = 0; i < 24; i++)
                            {
                                if (ViewBag.SchedularData != null && ViewBag.SchedularData["Tuesday"].Contains(i))
                                {
            <td width="25px" style="background:rgb(22, 132, 231)" id="Tue_@i" onclick="selectTd('Tue_@i')">  </td> }
                                else
                                {
            <td width="25px" id="Tue_@i" onclick="selectTd('Tue_@i')">  </td>}
                            }
                        </tr>
                        <tr>
                            <th style="background-color: #343a40;">Wednesnday</th>
                            @for (int i = 0; i < 24; i++)
                            {
                                if (ViewBag.SchedularData != null && ViewBag.SchedularData["Wednesday"].Contains(i))
                                {
            <td width="25px" style="background:rgb(22, 132, 231)" id="Wed_@i" onclick="selectTd('Wed_@i')">  </td> }
                                else
                                {
            <td width="25px" id="Wed_@i" onclick="selectTd('Wed_@i')">  </td>}
                            }
                        </tr>
                        <tr>
                            <th style="background-color: #343a40;">Thursday</th>
                            @for (int i = 0; i < 24; i++)
                            {
                                if (ViewBag.SchedularData != null && ViewBag.SchedularData["Thursday"].Contains(i))
                                {
            <td width="25px" style="background:rgb(22, 132, 231)" id="Thu_@i" onclick="selectTd('Thu_@i')">  </td> }
                                else
                                {
            <td width="25px" id="Thu_@i" onclick="selectTd('Thu_@i')">  </td>}
                            }
                        </tr>
                        <tr>
                            <th style="background-color: #343a40;">Friday</th>
                            @for (int i = 0; i < 24; i++)
                            {
                                if (ViewBag.SchedularData != null && ViewBag.SchedularData["Friday"].Contains(i))
                                {
            <td width="25px" style="background:rgb(22, 132, 231)" id="Fri_@i" onclick="selectTd('Fri_@i')">  </td> }
                                else
                                {
            <td width="25px" id="Fri_@i" onclick="selectTd('Fri_@i')">  </td>}
                            }
                        </tr>
                        <tr>
                            <th style="background-color: #343a40;">Saturday</th>
                            @for (int i = 0; i < 24; i++)
                            {
                                if (ViewBag.SchedularData != null && ViewBag.SchedularData["Saturday"].Contains(i))
                                {
            <td width="25px" style="background:rgb(22, 132, 231)" id="Sat_@i" onclick="selectTd('Sat_@i')">  </td> }
                                else
                                {
            <td width="25px" id="Sat_@i" onclick="selectTd('Sat_@i')">  </td>}
                            }
                        </tr>
                        <tr>
                            <th style="background-color: #343a40;">Sunday</th>
                            @for (int i = 0; i < 24; i++)
                            {
                                if (ViewBag.SchedularData != null && ViewBag.SchedularData["Sunday"].Contains(i))
                                {
            <td width="25px" style="background:rgb(22, 132, 231)" id="Sun_@i" onclick="selectTd('Sun_@i')">  </td> }
                                else
                                {
            <td width="25px" id="Sun_@i" onclick="selectTd('Sun_@i')">  </td>}
                            }
                        </tr>
                    </table>

                </div>

                <button class="btn-success" style="border-radius:10px;" onclick="save()">Save</button>
            </center>
        </div>
    </div>
</div>

                <script>
        function selectTd(_id) {
            var element = document.getElementById(_id);
            if (element.style.background == "") {
                element.style.background = "#1684E7";
            } else {
                element.style.background = "";
            }
        }

        function save() {
            var list1 = [];


            var days = ["Mon_", "Tue_", "Wed_", "Thu_", "Fri_", "Sat_", "Sun_"];
            var i;
            for (i = 0; i <= 6; i++) {
                var day = days[i];
                var list = [];
                var count = 0;
                for (var j = 0; j < 24; j++) {
                    var _id = day + j;
                    var element = document.getElementById(_id);
                    console.log(element.style.background);
                    if (element.style.background == "rgb(22, 132, 231)") {
                        console.log(_id)
                        list[count++] = _id;
                    }
                }
                list1[i] = list;
            }

            var obj = {
                "UserId": @ExpertID,
                "Monday": list1[0],
                "Tuesday": list1[1],
                "Wednesday": list1[2],
                "Thursday": list1[3],
                "Friday": list1[4],
                "Saturday": list1[5],
                "Sunday": list1[6]
            }
            SaveData(obj);
        }

        function SaveData(_obj) {
            $.ajax({
                url: "/api/Schedular",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(_obj),
                success: function (data) {
                    console.log(data);
                    alert("Schedule saved successfully");
                    window.location.href = "/Identity/Account/Manage";
                },
                error: function (err) {
                    console.error(err);
                }
            })
        }
                </script>}