@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
@using Microsoft.AspNetCore.Identity
@using ITMatching.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ITMatchingAppContext AppContext

<div class="container-fluid p-0">
    <div class="congrats-overlay text-center" style="width: 100%;">
        <div class="row">
            <div class="col mt-5 justify-content-center">
                <h1 class="text-center text-shadow">Congratulations, You have finished the registration process!</h1><br />
                <h2 class="text-center text-shadow">Return to the home page to get started.</h2>
            </div>
        </div>
        <div class=" justify-content-center">
            <div class="text-center" style="margin-top: 100px;">
                <a class="btn btn-orange btn-xlarge" asp-area="Identity" asp-page="/Account/Login">Go To Login Page</a>
            </div>
        </div>
    </div>
</div>

