@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
@using Microsoft.AspNetCore.Identity
@using ITMatching.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ITMatchingAppContext AppContext

<div class="congrats-overlay row text-center">
    <div class="container">
        <div class="row">
            <h1 style="font-family:Garamond, serif;">Congratulations, You have Finished Your Registration process! </h1>
        </div>
        <div class="row justify-content-center">
            <div class="text-center" style="margin-top: 100px;">
                <a class="Tempbtn" asp-area="Identity" asp-page="/Account/Login">Go To Login Page</a>
            </div>
        </div>
    </div>

</div>


@* @if (SignInManager.IsSignedIn(User))
    {
        string id = UserManager.GetUserId(User);

        Itmuser ituser = AppContext.Itmusers.Where(u => u.AspNetUserId == id).FirstOrDefault();
        Expert expert = AppContext.Experts.Where(u => u.ItmuserId == ituser.Id).FirstOrDefault();
        if (expert != null)
        {
            <div style="margin-top: 100px;">
                <a class="Tempbtn" asp-area="Identity" asp-page="/Account/Scheduler">Set Your Work Schedule</a>
            </div>
        }
    }*@

