@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="congrats-overlay row text-center">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="white-label">Your new email address have been confirmed.</h1>
        </div>
        <div class="row justify-content-center">
            <h4 class="white-label">Thank you.</h4>
        </div>
    </div>

</div>
/>