@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

    <br />
    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default px-5 py-3" style="margin-bottom:20px;">
                    <center>
                        <h3 style="font-family: Verdana;" class="dark-label">Forgot password confirmation</h3>
                        <h4 class="dark-label">Please check your email.</h4>
                    </center>
                    <div class="cssload-loader" style="margin-top:100px;">
                        <div class="cssload-inner cssload-one"></div>
                        <div class="cssload-inner cssload-two"></div>
                        <div class="cssload-inner cssload-three"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


