@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}



@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <center>
            <div class="centered-form" style="font-family:Courier; color:#343a40">
                <h1>@ViewData["Title"]</h1>
            </div>
            <p>
                This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        </center>
    }
    else
    {   <center>
                <div class="centered-form">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="container centered-form">
                    <h4>Please check your email to confirm your account.</h4><br />
                </div>
        </center>
    <div class="cssload-loader">
        <div class="cssload-inner cssload-one"></div>
        <div class="cssload-inner cssload-two"></div>
        <div class="cssload-inner cssload-three"></div>
    </div>
    }
   }


