@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1 class="text-danger mt-5 mb-3">ERROR</h1>
    <h2 class="text-danger mb-5">Something went wrong.</h2>

    <h4 class="mb-4">
        You may be attempting to access a page that you are not authorized to, or inputting data that our website is not designed for. please return to the home menu and try using our site again.<br /><br />
        If you suspect that there is an issue with the website, please contact HAL Development at <strong>itmatching@outlook.com</strong>.
    </h4>
</div>
