@{
    ViewData["Title"] = "Request Form Major Topics";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <a href='@Url.Action("RequestForm", "Matching")' class="text-decoration-none"><input type="button" class="btn-xlarge btn-secondary btn-block" id="OrangeButton" value="Continue"></a>
        </div>
    </div>
</div>
<br />

