
@{
}
<div class="container">
    <br /><br /><br /><h1 style="height: 10vh;" class="text-center">Thank you!</h1><br />

    <p class="text-center">Your feedback has been received and will be used to help influence future matching!</p><br /><br /><br /><br />
    <div class="row justify-content-center">
        <a href='@Url.Action("Index", "Home")' class="text-decoration-none"><button class="btn btn-primary btn-xlarge" id="OrangeButton" >Return to the home page</button></a>
</div>

</div>