
@{
}
<div class="container">
    <br /><br /><br /><h1 style="height: 10vh;" class="text-center"><strong>Thank you!</strong></h1><br />

    <p class="text-center">Your feedback has been received and will be used to help influence future matching!</p><br /><br /><br /><br />
    <div class="row justify-content-center">
        <a href='@Url.Action("Index", "Home")' class="text-decoration-none"><input type="button" class="btn btn-orange btn-xlarge" value="Return to the home page" /></a>
    </div>

</div>